		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Admin</h1>
					</header>
				</div>
			</section>

			<section id="main" class="wrapper align-center">
				<div class="inner">
					<div class="flex" style="text-align:left">
						<article>
							Email List:<br>
{% for user in all_users %}
	{% if user.receiveEmail == True %}
							{{ user.email }},
	{% endif %}
{% endfor %}
<br/><br/>
							All Users:<br/>
							<table>
								<tr><td>Email</td><td>Enabled</td><td>Login Count</td></tr>
{% for user in all_users %}
								<tr><td>{{ user.email }}</td><td>{{ user.receiveEmail }}</td><td>{{ user.loginCount }}</td></tr>
{% endfor %}
							</table>
														All Comments:<br/>
							<table>
								<tr>
									<td>Page</td>
									<td>User</td>
									<td>Comment</td>
									<td>Approved</td>
									<td>Action</td>
								</tr>
{% for comment in all_comments %}
								<tr>
									<td>{{ comment.page }}</td>
									<td>{{ comment.author }}</td>
									<td>{{ comment.text }}</td>
									<td>{{ comment.isApproved }}</td>
									<td>
										<form>
{% if comment.isApproved %}									
											<input name="action" hidden="true" value="unapprove"/>
{% else %}
											<input name="action" hidden="true" value="approve"/>
{% endif %}
											<input name="page" hidden="true" value="{{ comment.page }}"/>
											<input name="author" hidden="true" value="{{ comment.author }}"/>
{% if comment.isApproved %}									
											<input type="submit" value="Unapprove"/>
{% else %}
											<input type="submit" value="Approve"/>
{% endif %}
										</form>
									</td>
								</tr>
{% endfor %}
							</table>

							<footer>
							</footer>
						</article>
					</div>
				</div>
			</section>