			<section id="comments" class="wrapper align-center">
				<div class="inner">
					<div class="flex" style="text-align:left">
						<article>
							<hr/>
							<ul>
{% for each in comments %}
	{% if each.isApproved %}
								<li>Comment by {{ each.author }}: {{ each.text }}</li>
	{% elif each.author == user.email() %}
								<li>Comment by {{ each.author }}: {{ each.text }} (waiting for approval...)</li>
	
	{% endif %}
{% endfor %}
							</ul>
{% if user %}
							Comment by {{ user.email() }}:
							<form method="get">
	{% if comment %}
							<textarea rows="3" cols="80" name="commentText" value="{{ comment.text }}"></textarea>
	{% else %}
							<textarea rows="3" cols="80" name="commentText" value=""></textarea>
	{% endif %}
							<input type="submit" value="{{ submitText }}" />
							</form>
{% else %}
							Login to leave a comment.
{% endif %}
						</article>
					</div>
				</div>
			</section>