		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>{{ url_linktext }}</h1>
					</header>
				</div>
			</section>

			<section id="main" class="wrapper align-center">
				<div class="inner">
					<div class="flex" style="text-align:left">
						<article>
							By creating an account, you are able to comment on certain pages and receive occasional status 
							emails about the website. If ou do not wish to see these emails, it is easy to opt-out at any
							time. Logging in requires a Google Account, but we do not gain any information about you, with
							the exception of your email. We will never have access to any passwords or anything personal.
							<br><br>
{% if user %}
							You are logged in as: {{ user.email() }}<br>
							You are currently set to receive email: {{ receiveEmail }}
{% endif %}
							<br/><br/>
{% if user %}
							<input type="button" onclick="location.href='/profile?receiveEmail={{ opt_value }}';" value="{{ opt_value }} Emails" />
							<input type="button" onclick="location.href='{{ url|safe }}';" value="Logout" />
{% else %}
							<input type="button" onclick="location.href='{{ url|safe }}';" value="Login" />
{% endif %}							
							<footer>
							</footer>
						</article>
					</div>
				</div>
			</section>