		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>{{ url_linktext }}</h1>
					</header>
				</div>
			</section>

			<section id="main" class="wrapper align-center">
				<div class="inner">
					<div class="flex" style="text-align:left">
						<article>
							This website will eventually have more interactive and crowd-sourced content,
							some of which you will only be able to contribute or comment on if you are logged in.
							For now, we only use this login information to send out occasional status emails about
							the website, and even then you can opt-out of receiving these emails.
							Logging in requires a Google account.  Google just shares your email with us and we never
							have access to your password or any other information about you.
							<br><br>
{% if user %}
							You are logged in as: {{ user.email() }}<br>
							You are currently set to receive email: {{ receiveEmail }}
{% endif %}
							<br/>
{% if user %}
							<input type="button" onclick="location.href='/profile?receiveEmail={{ opt_value }}';" value="{{ opt_value }} Emails" />
							<input type="button" onclick="location.href='{{ url|safe }}';" value="Logout" />
{% else %}
							<input type="button" onclick="location.href='{{ url|safe }}';" value="Login" />
{% endif %}							
							<footer>
							</footer>
						</article>
					</div>
				</div>
			</section>